<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The index of zyh`s site</title>
    <style>
        span.navigation1 {
            float: left;
            padding: 20px;
            font-size: large;
            background-color: orange;
        }

        span.navigation2 {
            float: left;
            padding: 20px;
            font-size: large;
            background-color: aquamarine;
        }
    </style>

</head>
<body>
<h1 style="color: dodgerblue">欢迎来到zyh的网站！</h1>
<span class="navigation1"><a href="weibo/">微博</a></span>

</body>
</html>